In [15]:
import pandas as pd
import numpy as np
import datetime

In [16]:
url = "https://drive.google.com/file/d/1qkcIsSJxb_LeDsbUkF-RTDDo1_pQNNh9/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30649 entries, 0 to 30648
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Seat Fare Type 1  17785 non-null  object
 1   Seat Fare Type 2  12746 non-null  object
 2   Bus               30649 non-null  object
 3   Service Date      30649 non-null  object
 4   RecordedAt        30649 non-null  object
dtypes: object(5)
memory usage: 1.2+ MB

In [18]:
df.isnull().sum()

Seat Fare Type 1    12864
Seat Fare Type 2    17903
Bus                     0
Service Date            0
RecordedAt              0
dtype: int64

In [19]:
df.fillna(-1,inplace=True)

In [20]:
df.drop_duplicates(inplace = True)

In [21]:
f1 = df["Seat Fare Type 1"].values
for i in range(len(f1)):
    if(f1[i]==-1):
        continue
    temp = list(map(float,f1[i].split(",")))
    f1[i] = sum(temp)/len(temp)
    
f2 = df["Seat Fare Type 2"].values
for i in range(len(f2)):
    if(f2 [i]==-1):
        continue
    temp = list(map(float,f2[i].split(",")))
    f2[i] = sum(temp)/len(temp)

In [22]:
sd = df["Service Date"].values
for i in range(len(sd)):
    sd[i] = datetime.datetime.strptime(sd[i],"%d-%m-%Y %H:%M")

rd = df["RecordedAt"].values
for i in range(len(rd)):
    rd[i] = datetime.datetime.strptime(rd[i],"%d-%m-%Y %H:%M")

In [23]:
hour = []
for i in range(len(rd)):
    diff = sd[i] - rd[i]
    days, seconds = diff.days, diff.seconds
    hours = days * 24 + seconds // 3600
    hour.append(hours)
df['Hours'] = np.array(hour)

In [24]:
df

,Seat Fare Type 1,Seat Fare Type 2,Bus,Service Date,RecordedAt,Hours
0,850,-1,d6fa79179fda2a77455794637f225962,2020-07-15 00:00:00,2020-07-11 16:28:00,79
1,825,-1,d6fa79179fda2a77455794637f225962,2020-07-15 00:00:00,2020-07-11 19:17:00,76
2,825,-1,d6fa79179fda2a77455794637f225962,2020-07-15 00:00:00,2020-07-12 09:02:00,62
3,825,-1,d6fa79179fda2a77455794637f225962,2020-07-15 00:00:00,2020-07-12 10:05:00,61
4,793,-1,d6fa79179fda2a77455794637f225962,2020-07-15 00:00:00,2020-07-13 01:53:00,46
...,...,...,...,...,...,...
30642,867.5,-1,6ebe14c775a983e43b07c55e6b71d77d,2020-07-30 00:00:00,2020-07-30 04:20:00,-5
30643,867.5,-1,6ebe14c775a983e43b07c55e6b71d77d,2020-07-30 00:00:00,2020-07-30 05:42:00,-6
30644,867.5,-1,6ebe14c775a983e43b07c55e6b71d77d,2020-07-30 00:00:00,2020-07-30 07:59:00,-8
30646,867.5,-1,6ebe14c775a983e43b07c55e6b71d77d,2020-07-30 00:00:00,2020-07-30 08:08:00,-9
30647,867.5,-1,6ebe14c775a983e43b07c55e6b71d77d,2020-07-30 00:00:00,2020-07-30 08:21:00,-9

In [25]:
cost1 = dict()
cost2 = dict()
occ = dict()

for x in df["Bus"].values:
    if x not in occ.keys():
        occ[x] = 0
    else:
        occ[x] += 1

for i in range(len(df["Bus"].values)):
    try:
        if(df["Seat Fare Type 1"][i] != -1):
            try:
                if(df["Bus"][i] not in cost1.keys()):
                    cost1[df["Bus"][i]] = int(df["Seat Fare Type 1"][i])
                else:
                    cost1[df["Bus"][i]] += int(df["Seat Fare Type 1"][i])
            except:
                continue
    except:
        continue
        
for i in range(len(df["Bus"].values)):
    try:
        if(df["Seat Fare Type 2"][i] != -1):
            try:
                if(df["Bus"][i] not in cost2.keys()):
                    cost2[df["Bus"][i]] = int(df["Seat Fare Type 2"][i])
                else:
                    cost2[df["Bus"][i]] += int(df["Seat Fare Type 2"][i])
            except:
                continue
    except:
        continue

In [26]:
cost2

{'23400e84ea8d9f642252d1c343d26464': 0,
 'cfa18a60741f6e93df4f7ea15cb0e30b': 0,
 '55d025d1d77431effef6d6680a2aea33': 0,
 '1e8f943f51641d72889455e26d49dec7': 0,
 'b38712db6ce31a420650d8e701799aee': 70301,
 '09d3a01cf347bce0b92631414af3fea8': 152075,
 'f5cfac75c865b638a027692334a9e3c7': 0,
 '5580f995d6f4d3bcceca7e2db6c77bf7': 335245,
 'fde3cb1975a46ee670de4ee663909d52': 0,
 '1ea201abd079f8d7129870e1fa13f3cf': 0,
 '3d9699fcda5c7700733d73b5140aeca7': 0,
 '25a091322a8c1d5629cc2a4881757656': 0,
 '3296bff791975aa0e5cccf7602875e82': 0,
 '0e10989e4726b5d68b0fb1d406335bc9': 0,
 '618277d91c983594fa09598cbaa94c4e': 0,
 '9e96c71faf94c4eddc992e13a413db94': 0,
 'a49b87e18eb8a3533c55cce75b8f0e67': 0,
 '39bdbca8192254661eaaa2533941453c': 0,
 'a2f5b7949d62049bcd0b4682bd9173eb': 0,
 '5e88665c5a3f202348d5dfc533bcbceb': 0,
 '989622a6db8f54c13b41b21b987021b2': 0,
 '60468e0a545d3f8f7a6a19eb6cfc3ca8': 173726,
 'ab479dab4a9e6bc3eaefe77a09f027ed': 318200,
 'd1854bef9a416d20150912c61a1fb9e1': 287395,
 'a68a88422070999db27c80a179ad4664': 88680,
 'b74673eaf82c5158c4f76797c938c9a0': 100891,
 '4f442421f3255cd732698b660003791e': 281580,
 '060c6d5595f3d7cf53838b0b8c66673d': 181585,
 '754dbc14d89c95b87d83cf9c57f45b32': 0,
 '4d408937d1288b6fa48d04c2d6c9a41a': 0,
 '5496fbbe385c99b72499ab8b850c4682': 0,
 'f113e02b1204e93df04ca357afc6b103': 0,
 'b6a1eedc0b705468390803d67f010f64': 0,
 '1df3d998c99605d1d1cd99a1b2f660a4': 0,
 'c0e0a47587fbf6247f4f9a22ba22cc80': 177050,
 '6d364920e6c9f9f71b1d881107e639f0': 58590,
 'd8063690fb248fda48029c54914219b9': 0,
 '9c5982aed8f85f56c51a36afeb3747c2': 0,
 '9ecb2c4ffa9c9b4f2e8d1e3fbe29a3bb': 165420,
 '5fdbc1be84c32354f4f0ce12bc892d9b': 0,
 '37109b9c632f84d35aa6127e70483fe1': 0,
 '1f159e801b6c0470d774210faa11803e': 0,
 '09bdda78c931e0758e2bda0f5e207502': 0,
 'c663b8eaf8c634eb78ffa900c0f1b556': 0,
 'b2dcc123101698aa3c6254f0e985921f': 19850,
 '819406683415c007cf6ec938e6eaec3a': 0,
 'fa76862522249456f475c02b790da604': 0,
 '820d8358a405170cccfb8051b8e47a60': 3375,
 '74b23405506957f6b6ddb29c0574260b': 26505,
 '9c7fe90a2be7a64e7aa8517d21243a4d': 0,
 '45f6409fc90e6a3c03b27ba3560fc90a': 0,
 '6b60fb99e5de6ac90be3fb256c7edd33': 146100,
 '74cc09e5cb64134800650f0c21f94942': 29655,
 '799cf5e9d9ab688d72e17d530ed36bef': 0,
 '3100ec449829e65ed2da9f7af62ef03d': 120607,
 'c6cc315d21e0815a9bf68a26308e91ab': 158914,
 '184d5bffbe383e9a7ddaa0b1fae8be87': 0,
 'd557e9f0bc888668909125aff049c6ce': 111730,
 '65890317855e746933ec8eb298f5a8ce': 33880,
 'be5bded2953a916d334eb492b0c37296': 0,
 'f9e27e929e3d6d33dc09bf6d7ceb97bc': 0,
 '225554f4707e5122d97d5fb642b10af3': 33900}

In [27]:
for key in cost1.keys():
    #print(key, cost1[key],occ[key])
    try:
        cost1[key] /= occ[key]
    except:
        continue
        
for key in cost2.keys():
    try:
        cost2[key] /= occ[key]
    except:
        continue

In [28]:
from sklearn.cluster import KMeans

In [29]:
encoding = dict()
num = 0
for x in df["Bus"].values:
    if x not in encoding.keys():
        encoding[x] = num
        num+=1
encoding

{'d6fa79179fda2a77455794637f225962': 0,
 '23400e84ea8d9f642252d1c343d26464': 1,
 'cfa18a60741f6e93df4f7ea15cb0e30b': 2,
 '55d025d1d77431effef6d6680a2aea33': 3,
 '1e8f943f51641d72889455e26d49dec7': 4,
 '4a2864d951d93bbfb4d7ac6a4eb40a75': 5,
 'ca5a5dcf590a304de20107f2f119fe4d': 6,
 'dcb5420e873f5bb322abf4cece991b03': 7,
 '9d2a5d655e5000921f3591f6cd7908d3': 8,
 'b38712db6ce31a420650d8e701799aee': 9,
 '09d3a01cf347bce0b92631414af3fea8': 10,
 'b8d1710db82f66126ca3f540f2ad2f08': 11,
 '8a96c2026a520cfd595767af6e5974ef': 12,
 'f5cfac75c865b638a027692334a9e3c7': 13,
 '5580f995d6f4d3bcceca7e2db6c77bf7': 14,
 'a6951a59b64579edcf822ab9ea4c0c83': 15,
 'fde3cb1975a46ee670de4ee663909d52': 16,
 '1ea201abd079f8d7129870e1fa13f3cf': 17,
 '3d9699fcda5c7700733d73b5140aeca7': 18,
 '25a091322a8c1d5629cc2a4881757656': 19,
 '3296bff791975aa0e5cccf7602875e82': 20,
 '0e10989e4726b5d68b0fb1d406335bc9': 21,
 '618277d91c983594fa09598cbaa94c4e': 22,
 '9e96c71faf94c4eddc992e13a413db94': 23,
 'bb34a6d5a6c5e806c2bdc7afc63e4397': 24,
 'a49b87e18eb8a3533c55cce75b8f0e67': 25,
 '39bdbca8192254661eaaa2533941453c': 26,
 'a2f5b7949d62049bcd0b4682bd9173eb': 27,
 '5e88665c5a3f202348d5dfc533bcbceb': 28,
 '22f694bbcef788c5f2f4d44ad39fcdbd': 29,
 '8239a4d7ab3b3de7711c6cb7748229bf': 30,
 'a70bfd3145f3c601b7b8371845be6e57': 31,
 'c3001e2a3fcf58a3f9881a6635d8765a': 32,
 '3f16e520e1e84f8b9a72b63cbc4fb598': 33,
 '28af5b39ca85472e76714235b77a08c6': 34,
 '989622a6db8f54c13b41b21b987021b2': 35,
 'a85170e65d1c03e1ea78595c0d8deb80': 36,
 '60468e0a545d3f8f7a6a19eb6cfc3ca8': 37,
 '6b4c5b251baf9846a4c4273693154363': 38,
 'ab479dab4a9e6bc3eaefe77a09f027ed': 39,
 'd1854bef9a416d20150912c61a1fb9e1': 40,
 'a68a88422070999db27c80a179ad4664': 41,
 '94e6adf5189531e3a52686bb17c2b2ad': 42,
 'bae2b9f85a7c3e8eaea1a12ac8be7af2': 43,
 'b74673eaf82c5158c4f76797c938c9a0': 44,
 '1010397688bce9bb80e59ceb984d3477': 45,
 '52f186799d2b458345f56fec0c00c689': 46,
 '4f442421f3255cd732698b660003791e': 47,
 '060c6d5595f3d7cf53838b0b8c66673d': 48,
 '3b9b3497d23b8212272f1b4c1f70bbfa': 49,
 '3014ebaddbddfbfc27bf6d8958851aa5': 50,
 '642c372f4c10a6c0039912b557aa8a22': 51,
 '5efeca02cbcf91c6230fd894cfae0b1f': 52,
 '754dbc14d89c95b87d83cf9c57f45b32': 53,
 '4d408937d1288b6fa48d04c2d6c9a41a': 54,
 '5496fbbe385c99b72499ab8b850c4682': 55,
 'f113e02b1204e93df04ca357afc6b103': 56,
 'b6a1eedc0b705468390803d67f010f64': 57,
 '1df3d998c99605d1d1cd99a1b2f660a4': 58,
 '78690969ed345320991aba0cd59e0733': 59,
 'c0e0a47587fbf6247f4f9a22ba22cc80': 60,
 '9656d6395d1f3a4497d0871a03366078': 61,
 '6d364920e6c9f9f71b1d881107e639f0': 62,
 '49a138fe484117e03704bcd345a83d32': 63,
 '6ebe14c775a983e43b07c55e6b71d77d': 64,
 '7f431e064b9ea2f9852a37f92b316802': 65,
 '64a22e07e0139a1d1f322f58f206e5bf': 66,
 'd8063690fb248fda48029c54914219b9': 67,
 '74017231b804c80d3f1fa28be2fe0ffa': 68,
 '56f71d6aca7fc3a5db009a462d9e502a': 69,
 '9c5982aed8f85f56c51a36afeb3747c2': 70,
 '9ecb2c4ffa9c9b4f2e8d1e3fbe29a3bb': 71,
 '5fdbc1be84c32354f4f0ce12bc892d9b': 72,
 '37109b9c632f84d35aa6127e70483fe1': 73,
 '1f159e801b6c0470d774210faa11803e': 74,
 '09bdda78c931e0758e2bda0f5e207502': 75,
 'c663b8eaf8c634eb78ffa900c0f1b556': 76,
 'b2dcc123101698aa3c6254f0e985921f': 77,
 '819406683415c007cf6ec938e6eaec3a': 78,
 'fa76862522249456f475c02b790da604': 79,
 'fd6cb8a34210b39ef547b94741ffa83b': 80,
 '820d8358a405170cccfb8051b8e47a60': 81,
 'f663c68449dda5634f3797fd9c4c3ad6': 82,
 '74b23405506957f6b6ddb29c0574260b': 83,
 '909d337c7f74b91e3b19e5f43689b477': 84,
 '9c7fe90a2be7a64e7aa8517d21243a4d': 85,
 '45f6409fc90e6a3c03b27ba3560fc90a': 86,
 '626d457856a4635087133cf957abae2b': 87,
 '6b60fb99e5de6ac90be3fb256c7edd33': 88,
 '28fd7bdc6b80666877c3e9dd41e0ae5a': 89,
 '74cc09e5cb64134800650f0c21f94942': 90,
 'f4b9954bf711461b37cab613fdcb8807': 91,
 'a0243f8c4129f3a468ede17e832a7a9a': 92,
 '799cf5e9d9ab688d72e17d530ed36bef': 93,
 'bbe32cc22507520cba3b9e56765482c5': 94,
 '204490717c824958fef2ea80cc19442b': 95,
 '3100ec449829e65ed2da9f7af62ef03d': 96,
 'c6cc315d21e0815a9bf68a26308e91ab': 97,
 'cd74100306b5b70cc61c264e9201c32c': 98,
 '10598f3c00cb10feb6c5a369ea5d4331': 99,
 '184d5bffbe383e9a7ddaa0b1fae8be87': 100,
 'd557e9f0bc888668909125aff049c6ce': 101,
 '65890317855e746933ec8eb298f5a8ce': 102,
 '97c2a3d5ad4a079ef3e9c3d88e21ebb1': 103,
 'fa311021504691f83fa777072f491f0b': 104,
 'be5bded2953a916d334eb492b0c37296': 105,
 'f9e27e929e3d6d33dc09bf6d7ceb97bc': 106,
 '57a24b73e1abc5627cbdfbf487031eb0': 107,
 '225554f4707e5122d97d5fb642b10af3': 108,
 '6cd4a532abcdc965836201b59915eb99': 109,
 '23ca24cf2af71cfd6c438386ffb7d33e': 110,
 '0a8db1499be670333833ded3c874c019': 111,
 '52725e18d5c8af87b097a33ca2282a10': 112,
 '29b77a9e58d23bf43daa780eb8b7db65': 113,
 '241f07f1fafbd5405c0139ae4a148a74': 114,
 '23c7bd7bcab9a19b7da7cae4e3d4659a': 115,
 '1d5363d20e0f4941bdf3084f131938b2': 116}

In [30]:
def change_v(x):
    return encoding[x]

In [31]:
df["Bus"] = df["Bus"].apply(change_v)

In [32]:
df

,Seat Fare Type 1,Seat Fare Type 2,Bus,Service Date,RecordedAt,Hours
0,850,-1,0,2020-07-15 00:00:00,2020-07-11 16:28:00,79
1,825,-1,0,2020-07-15 00:00:00,2020-07-11 19:17:00,76
2,825,-1,0,2020-07-15 00:00:00,2020-07-12 09:02:00,62
3,825,-1,0,2020-07-15 00:00:00,2020-07-12 10:05:00,61
4,793,-1,0,2020-07-15 00:00:00,2020-07-13 01:53:00,46
...,...,...,...,...,...,...
30642,867.5,-1,64,2020-07-30 00:00:00,2020-07-30 04:20:00,-5
30643,867.5,-1,64,2020-07-30 00:00:00,2020-07-30 05:42:00,-6
30644,867.5,-1,64,2020-07-30 00:00:00,2020-07-30 07:59:00,-8
30646,867.5,-1,64,2020-07-30 00:00:00,2020-07-30 08:08:00,-9
30647,867.5,-1,64,2020-07-30 00:00:00,2020-07-30 08:21:00,-9

In [33]:
x = df.iloc[:,[0,1,2,5]].values
x

array([[850.0, -1, 0, 79],
       [825.0, -1, 0, 76],
       [825.0, -1, 0, 62],
       ...,
       [867.5, -1, 64, -8],
       [867.5, -1, 64, -9],
       [867.5, -1, 64, -9]], dtype=object)

In [34]:
kmeans = KMeans(n_clusters=117,random_state = 3).fit(x)

In [35]:
c1,c2 = 0,0
s1,s2 = 0,0
for x in df['Seat Fare Type 1'].values:
    if(x == -1):
        continue
    s1+=x
    c1+=1
for x in df['Seat Fare Type 2'].values:
    if(x == -1):
        continue
    s2+=x
    c2+=1
s1 /= c1
s2 /= c2

In [36]:
def func(bus):
    bus = bus.strip()
    try:
        ss1 = cost1[bus]
        ss2 = cost2[bus]
    except:
        ss1 = s1
        ss2 = s2
    res_li = []
    def max_occ(seq):
        from operator import itemgetter
        c = dict()
        for item in seq:
            c[item] = c.get(item, 0) + 1
        return max(c.items(), key=itemgetter(1))
    
    def get_key(value):
        for name, age in encoding.items():
            if age == value:
                return name
    
    def ClusterIndicesNumpy(clustNum, labels_array): #numpy 
        return np.where(labels_array == clustNum)[0]
        
    code = encoding[bus]
    
    ans = kmeans.predict([[ss1,ss2,code,0]])
    ar = ClusterIndicesNumpy(ans[0], kmeans.labels_)
    li = []
    for x in ar:
        try:
            li.append(df.loc[x,["Bus"]].values[0])
        except:
            continue
    m = max_occ(li)
    bus_res1 = get_key(m[0])
    bus_conf1 = m[1]/len(li)
    res_li.append(bus_res1)
    res_li.append(bus_conf1)
    
    return res_li

In [37]:
url = "https://drive.google.com/file/d/1l9AK2ISBMz6Rqqre6lwU9RTQKTx0tHlu/view?usp=sharing"
path = path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df_out = pd.read_csv(path)

In [42]:
df_out

,Bus,Follows,Confidence Score (0 to 1),Is followed by,Confidence Score (0 to 1).1
0,d6fa79179fda2a77455794637f225962,78690969ed345320991aba0cd59e0733,0.074941,4a2864d951d93bbfb4d7ac6a4eb40a75,0.065705
1,23400e84ea8d9f642252d1c343d26464,78690969ed345320991aba0cd59e0733,0.074941,4a2864d951d93bbfb4d7ac6a4eb40a75,0.065705
2,cfa18a60741f6e93df4f7ea15cb0e30b,78690969ed345320991aba0cd59e0733,0.074941,4a2864d951d93bbfb4d7ac6a4eb40a75,0.065705
3,55d025d1d77431effef6d6680a2aea33,78690969ed345320991aba0cd59e0733,0.074941,4a2864d951d93bbfb4d7ac6a4eb40a75,0.065705
4,1e8f943f51641d72889455e26d49dec7,78690969ed345320991aba0cd59e0733,0.074941,4a2864d951d93bbfb4d7ac6a4eb40a75,0.065705
...,...,...,...,...,...
112,52725e18d5c8af87b097a33ca2282a10,b8d1710db82f66126ca3f540f2ad2f08,0.079365,78690969ed345320991aba0cd59e0733,0.074941
113,29b77a9e58d23bf43daa780eb8b7db65,b8d1710db82f66126ca3f540f2ad2f08,0.079365,78690969ed345320991aba0cd59e0733,0.074941
114,241f07f1fafbd5405c0139ae4a148a74,b8d1710db82f66126ca3f540f2ad2f08,0.079365,78690969ed345320991aba0cd59e0733,0.074941
115,23c7bd7bcab9a19b7da7cae4e3d4659a,b8d1710db82f66126ca3f540f2ad2f08,0.079365,78690969ed345320991aba0cd59e0733,0.074941
116,1d5363d20e0f4941bdf3084f131938b2,b8d1710db82f66126ca3f540f2ad2f08,0.079365,78690969ed345320991aba0cd59e0733,0.074941

In [39]:
conf_dict = dict()
res_dict = dict()
for key in occ.keys():
    temp = func(key)
    res_dict[key] = temp[0]
    conf_dict[key] = temp[1]
res_dict

{'d6fa79179fda2a77455794637f225962': '78690969ed345320991aba0cd59e0733',
 '23400e84ea8d9f642252d1c343d26464': '78690969ed345320991aba0cd59e0733',
 'cfa18a60741f6e93df4f7ea15cb0e30b': '78690969ed345320991aba0cd59e0733',
 '55d025d1d77431effef6d6680a2aea33': '78690969ed345320991aba0cd59e0733',
 '1e8f943f51641d72889455e26d49dec7': '78690969ed345320991aba0cd59e0733',
 '4a2864d951d93bbfb4d7ac6a4eb40a75': '78690969ed345320991aba0cd59e0733',
 'ca5a5dcf590a304de20107f2f119fe4d': '78690969ed345320991aba0cd59e0733',
 'dcb5420e873f5bb322abf4cece991b03': '78690969ed345320991aba0cd59e0733',
 '9d2a5d655e5000921f3591f6cd7908d3': '78690969ed345320991aba0cd59e0733',
 'b38712db6ce31a420650d8e701799aee': '78690969ed345320991aba0cd59e0733',
 '09d3a01cf347bce0b92631414af3fea8': '78690969ed345320991aba0cd59e0733',
 'b8d1710db82f66126ca3f540f2ad2f08': '78690969ed345320991aba0cd59e0733',
 '8a96c2026a520cfd595767af6e5974ef': '78690969ed345320991aba0cd59e0733',
 'f5cfac75c865b638a027692334a9e3c7': '78690969ed345320991aba0cd59e0733',
 '5580f995d6f4d3bcceca7e2db6c77bf7': '22f694bbcef788c5f2f4d44ad39fcdbd',
 'a6951a59b64579edcf822ab9ea4c0c83': '78690969ed345320991aba0cd59e0733',
 'fde3cb1975a46ee670de4ee663909d52': '78690969ed345320991aba0cd59e0733',
 '1ea201abd079f8d7129870e1fa13f3cf': '78690969ed345320991aba0cd59e0733',
 '3d9699fcda5c7700733d73b5140aeca7': '78690969ed345320991aba0cd59e0733',
 '25a091322a8c1d5629cc2a4881757656': '78690969ed345320991aba0cd59e0733',
 '3296bff791975aa0e5cccf7602875e82': '78690969ed345320991aba0cd59e0733',
 '0e10989e4726b5d68b0fb1d406335bc9': '78690969ed345320991aba0cd59e0733',
 '618277d91c983594fa09598cbaa94c4e': '78690969ed345320991aba0cd59e0733',
 '9e96c71faf94c4eddc992e13a413db94': '78690969ed345320991aba0cd59e0733',
 'bb34a6d5a6c5e806c2bdc7afc63e4397': '78690969ed345320991aba0cd59e0733',
 'a49b87e18eb8a3533c55cce75b8f0e67': '78690969ed345320991aba0cd59e0733',
 '39bdbca8192254661eaaa2533941453c': '78690969ed345320991aba0cd59e0733',
 'a2f5b7949d62049bcd0b4682bd9173eb': '78690969ed345320991aba0cd59e0733',
 '5e88665c5a3f202348d5dfc533bcbceb': '78690969ed345320991aba0cd59e0733',
 '22f694bbcef788c5f2f4d44ad39fcdbd': '78690969ed345320991aba0cd59e0733',
 '8239a4d7ab3b3de7711c6cb7748229bf': '78690969ed345320991aba0cd59e0733',
 'a70bfd3145f3c601b7b8371845be6e57': '78690969ed345320991aba0cd59e0733',
 'c3001e2a3fcf58a3f9881a6635d8765a': '78690969ed345320991aba0cd59e0733',
 '3f16e520e1e84f8b9a72b63cbc4fb598': '78690969ed345320991aba0cd59e0733',
 '28af5b39ca85472e76714235b77a08c6': '78690969ed345320991aba0cd59e0733',
 '989622a6db8f54c13b41b21b987021b2': '78690969ed345320991aba0cd59e0733',
 'a85170e65d1c03e1ea78595c0d8deb80': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '60468e0a545d3f8f7a6a19eb6cfc3ca8': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '6b4c5b251baf9846a4c4273693154363': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'ab479dab4a9e6bc3eaefe77a09f027ed': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'd1854bef9a416d20150912c61a1fb9e1': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'a68a88422070999db27c80a179ad4664': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '94e6adf5189531e3a52686bb17c2b2ad': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'bae2b9f85a7c3e8eaea1a12ac8be7af2': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'b74673eaf82c5158c4f76797c938c9a0': '22f694bbcef788c5f2f4d44ad39fcdbd',
 '1010397688bce9bb80e59ceb984d3477': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '52f186799d2b458345f56fec0c00c689': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '4f442421f3255cd732698b660003791e': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '060c6d5595f3d7cf53838b0b8c66673d': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '3b9b3497d23b8212272f1b4c1f70bbfa': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '3014ebaddbddfbfc27bf6d8958851aa5': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '642c372f4c10a6c0039912b557aa8a22': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '5efeca02cbcf91c6230fd894cfae0b1f': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '754dbc14d89c95b87d83cf9c57f45b32': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '4d408937d1288b6fa48d04c2d6c9a41a': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '5496fbbe385c99b72499ab8b850c4682': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'f113e02b1204e93df04ca357afc6b103': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'b6a1eedc0b705468390803d67f010f64': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '1df3d998c99605d1d1cd99a1b2f660a4': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 '78690969ed345320991aba0cd59e0733': '4a2864d951d93bbfb4d7ac6a4eb40a75',
 'c0e0a47587fbf6247f4f9a22ba22cc80': '22f694bbcef788c5f2f4d44ad39fcdbd',
 '9656d6395d1f3a4497d0871a03366078': 'b8d1710db82f66126ca3f540f2ad2f08',
 '6d364920e6c9f9f71b1d881107e639f0': 'bb34a6d5a6c5e806c2bdc7afc63e4397',
 '49a138fe484117e03704bcd345a83d32': 'b8d1710db82f66126ca3f540f2ad2f08',
 '6ebe14c775a983e43b07c55e6b71d77d': 'b8d1710db82f66126ca3f540f2ad2f08',
 '7f431e064b9ea2f9852a37f92b316802': 'b8d1710db82f66126ca3f540f2ad2f08',
 '64a22e07e0139a1d1f322f58f206e5bf': 'b8d1710db82f66126ca3f540f2ad2f08',
 'd8063690fb248fda48029c54914219b9': 'b8d1710db82f66126ca3f540f2ad2f08',
 '74017231b804c80d3f1fa28be2fe0ffa': 'b8d1710db82f66126ca3f540f2ad2f08',
 '56f71d6aca7fc3a5db009a462d9e502a': 'b8d1710db82f66126ca3f540f2ad2f08',
 '9c5982aed8f85f56c51a36afeb3747c2': 'b8d1710db82f66126ca3f540f2ad2f08',
 '9ecb2c4ffa9c9b4f2e8d1e3fbe29a3bb': 'b8d1710db82f66126ca3f540f2ad2f08',
 '5fdbc1be84c32354f4f0ce12bc892d9b': 'b8d1710db82f66126ca3f540f2ad2f08',
 '37109b9c632f84d35aa6127e70483fe1': 'b8d1710db82f66126ca3f540f2ad2f08',
 '1f159e801b6c0470d774210faa11803e': 'b8d1710db82f66126ca3f540f2ad2f08',
 '09bdda78c931e0758e2bda0f5e207502': 'b8d1710db82f66126ca3f540f2ad2f08',
 'c663b8eaf8c634eb78ffa900c0f1b556': 'b8d1710db82f66126ca3f540f2ad2f08',
 'b2dcc123101698aa3c6254f0e985921f': 'b8d1710db82f66126ca3f540f2ad2f08',
 '819406683415c007cf6ec938e6eaec3a': 'b8d1710db82f66126ca3f540f2ad2f08',
 'fa76862522249456f475c02b790da604': 'b8d1710db82f66126ca3f540f2ad2f08',
 'fd6cb8a34210b39ef547b94741ffa83b': 'b8d1710db82f66126ca3f540f2ad2f08',
 '820d8358a405170cccfb8051b8e47a60': 'b8d1710db82f66126ca3f540f2ad2f08',
 'f663c68449dda5634f3797fd9c4c3ad6': 'b8d1710db82f66126ca3f540f2ad2f08',
 '74b23405506957f6b6ddb29c0574260b': 'b8d1710db82f66126ca3f540f2ad2f08',
 '909d337c7f74b91e3b19e5f43689b477': 'b8d1710db82f66126ca3f540f2ad2f08',
 '9c7fe90a2be7a64e7aa8517d21243a4d': 'b8d1710db82f66126ca3f540f2ad2f08',
 '45f6409fc90e6a3c03b27ba3560fc90a': 'b8d1710db82f66126ca3f540f2ad2f08',
 '626d457856a4635087133cf957abae2b': 'b8d1710db82f66126ca3f540f2ad2f08',
 '6b60fb99e5de6ac90be3fb256c7edd33': 'b8d1710db82f66126ca3f540f2ad2f08',
 '28fd7bdc6b80666877c3e9dd41e0ae5a': 'b8d1710db82f66126ca3f540f2ad2f08',
 '74cc09e5cb64134800650f0c21f94942': 'b8d1710db82f66126ca3f540f2ad2f08',
 'f4b9954bf711461b37cab613fdcb8807': 'b8d1710db82f66126ca3f540f2ad2f08',
 'a0243f8c4129f3a468ede17e832a7a9a': 'b8d1710db82f66126ca3f540f2ad2f08',
 '799cf5e9d9ab688d72e17d530ed36bef': 'b8d1710db82f66126ca3f540f2ad2f08',
 'bbe32cc22507520cba3b9e56765482c5': 'b8d1710db82f66126ca3f540f2ad2f08',
 '204490717c824958fef2ea80cc19442b': 'b8d1710db82f66126ca3f540f2ad2f08',
 '3100ec449829e65ed2da9f7af62ef03d': 'b8d1710db82f66126ca3f540f2ad2f08',
 'c6cc315d21e0815a9bf68a26308e91ab': 'b8d1710db82f66126ca3f540f2ad2f08',
 'cd74100306b5b70cc61c264e9201c32c': 'b8d1710db82f66126ca3f540f2ad2f08',
 '10598f3c00cb10feb6c5a369ea5d4331': 'b8d1710db82f66126ca3f540f2ad2f08',
 '184d5bffbe383e9a7ddaa0b1fae8be87': 'b8d1710db82f66126ca3f540f2ad2f08',
 'd557e9f0bc888668909125aff049c6ce': 'b8d1710db82f66126ca3f540f2ad2f08',
 '65890317855e746933ec8eb298f5a8ce': 'b8d1710db82f66126ca3f540f2ad2f08',
 '97c2a3d5ad4a079ef3e9c3d88e21ebb1': 'b8d1710db82f66126ca3f540f2ad2f08',
 'fa311021504691f83fa777072f491f0b': 'b8d1710db82f66126ca3f540f2ad2f08',
 'be5bded2953a916d334eb492b0c37296': 'b8d1710db82f66126ca3f540f2ad2f08',
 'f9e27e929e3d6d33dc09bf6d7ceb97bc': 'b8d1710db82f66126ca3f540f2ad2f08',
 '57a24b73e1abc5627cbdfbf487031eb0': 'b8d1710db82f66126ca3f540f2ad2f08',
 '225554f4707e5122d97d5fb642b10af3': 'b8d1710db82f66126ca3f540f2ad2f08',
 '6cd4a532abcdc965836201b59915eb99': 'b8d1710db82f66126ca3f540f2ad2f08',
 '23ca24cf2af71cfd6c438386ffb7d33e': 'b8d1710db82f66126ca3f540f2ad2f08',
 '0a8db1499be670333833ded3c874c019': 'b8d1710db82f66126ca3f540f2ad2f08',
 '52725e18d5c8af87b097a33ca2282a10': 'b8d1710db82f66126ca3f540f2ad2f08',
 '29b77a9e58d23bf43daa780eb8b7db65': 'b8d1710db82f66126ca3f540f2ad2f08',
 '241f07f1fafbd5405c0139ae4a148a74': 'b8d1710db82f66126ca3f540f2ad2f08',
 '23c7bd7bcab9a19b7da7cae4e3d4659a': 'b8d1710db82f66126ca3f540f2ad2f08',
 '1d5363d20e0f4941bdf3084f131938b2': 'b8d1710db82f66126ca3f540f2ad2f08'}

In [40]:
for i in range(len(df_out.values)):
    #res = func(df_out.loc[i,"Bus"])
    #res+= func(res[0])
    df_out["Follows"][i] = res_dict[df_out.loc[i,"Bus"]]
    df_out["Confidence Score (0 to 1)"][i] = conf_dict[df_out.loc[i,"Bus"]]
    df_out["Is followed by"][i] = res_dict[res_dict[df_out.loc[i,"Bus"]]]
    df_out["Confidence Score (0 to 1).1"][i] = conf_dict[res_dict[df_out.loc[i,"Bus"]]]

<ipython-input-40-03cd170b1c02>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_out["Follows"][i] = res_dict[df_out.loc[i,"Bus"]]
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-40-03cd170b1c02>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_out["Confidence Score (0 to 1)"][i] = conf_dict[df_out.loc[i,"Bus"]]
<ipython-input-40-03cd170b1c02>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_out["Is followed by"][i] = res_dict[res_dict[df_out.loc[i,"Bus"]]]
<ipython-input-40-03cd170b1c02>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_out["Confidence Score (0 to 1).1"][i] = conf_dict[res_dict[df_out.loc[i,"Bus"]]]

In [41]:
#df_out.to_csv(r"C:\Users\pskir\OneDrive\Desktop\Kharagpur Data Science Hackathon II-20211124T053941Z-001\Kharagpur Data Science Hackathon II\output3.csv")